* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.menu-container {
  position: absolute;
  top: 90px;
  left: 0;
  background-color: #fff;
  overflow: hidden;
  padding: 0rem 1rem 4rem;
  width: 100%;
  z-index: 1;
  transition: all 0.5s ease;
}

.menu-container.menu-hidden {
  top: -100%;
  transition: all 0.5s ease;
}

.buybutton {
  width: 230px;
  height: 45px;
  color: #fff;
  background-color: #e81515;
  box-shadow: 0px 4px 4px 0px rgba(232, 21, 21, 0.25);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.5rem;
  max-width: 1440px;
  margin: auto;
}

.material-symbols-outlined {
  color: white;
  width: 2.813rem;
  border-radius: 6px;
  text-align: center;
  height: 2.813rem;
  box-shadow: 0 3px 17px 0 rgba(232, 21, 21, 0.6);
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  font-size: 1.5rem;
  background-color: #e81515;
}

.menu-btn-container {
  position: relative;
  cursor: pointer;
}

.btn-close.hidden {
  opacity: 0;
  z-index: -1;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

main {
  flex-grow: 1;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.item {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.item:hover {
  transform: translateX(14px);
}

.header {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  padding-top: 1em;
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.headicon {
  width: 14em;
  transition: all 0.3s ease-in-out;
}

.headicon:hover {
  transform: translateX(14px);
}

.fa-solid {
  color: white;
  width: 2.813rem;
  border-radius: 6px;
  text-align: center;
  height: 2.813rem;
  box-shadow: 0 3px 17px 0 rgba(232, 21, 21, 0.6);
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  font-size: 1.5rem;
  background-color: #e81515;
}

.intro-title {
  color: var(--Red-Beam-fire-Red, #f10707);
  text-align: center;
  font-size: 0.9rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: 190%;
  /* 53.2px */
}

.subcription {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 1.75em;
  font-style: normal;
  font-weight: 400;
  line-height: 190%;
  /* 133px */
  text-transform: lowercase;
}

.sub-purchase {
  font-size: 0.63rem;
  font-weight: 700;
}

.normal {
  font-weight: 400;
}

.intro {
  color: var(--Red-Beam-fire-Red, #f10707);
  text-align: center;
  font-family: Poppins;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 190%;
  /* 53.2px */
}

.intro-sum {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 0.7em;
  font-style: normal;
  font-weight: 400;
  line-height: 190%;
  /* 30.4px */
}

.point {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 700;
  line-height: 190%;
  /* 30.4px */
}

.link {
  color: var(--Red-Beam-fire-Red, #f10707);
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 190%;
  /* 38px */
  text-decoration: underline;
}

.purchase {
  font-size: 0.53rem;
}

footer {
  background: #e81515;
  width: 100%;
  display: flex;
  gap: 2px;
  margin-top: 2rem;
  min-height: 2rem;
}

.icon {
  color: #fff;
  margin-top: 4px;
  font-size: 1rem;
  margin-left: 9px;
  transition: all 0.3s ease-in-out;
}

.flag {
  margin-left: auto;
  width: 24px;
  height: 36px;
  padding: 4px;
}

.icon:hover {
  transform: scale(1.2) translateY(-4px);
}

@media screen and (min-width: 768px) {
  .intro-title {
    color: var(--Red-Beam-fire-Red, #f10707);
    text-align: center;
    font-size: 1.3rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: 190%;
    /* 53.2px */
  }
}

@media screen and (min-width: 1440px) {
  .headicon {
    width: 19em;
    transition: all 0.3s ease-in-out;
  }

  .header {
    padding-top: 1.5rem;
    max-width: 1440px;
    width: 100%;
    margin: auto;
  }

  .menu-container {
    padding-top: 2rem;
  }

  .menu-items {
    padding: 0px 2rem;
  }

  .buybutton {
    width: 23rem;
    transition: all 1s ease-out;
  }

  .buybutton:hover {
    transform: scale(1.1);
  }

  .intro-title {
    font-size: 1.2rem;
    color: var(--Red-Beam-fire-Red, #f10707);
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: 190%;
  }
}
